beautifulsoup4
cython
dask
dataretrieval
fiona
gdal
geoglows
geojson
geopandas
netCDF4
numba
numpy
pandas
pillow
progress
pygeos
pyproj
PyQt5>=5.15
rasterio
requests
s3fs
scipy
shapely
tqdm
xarray
whitebox
zarr